*{
    margin: 2px 10px;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    color: #1f5cbe;
    font-size: 20px;
    background-color: white;
}
.logo{
    height: 60px;
    width: 120px;
    background-image: url(./Assets/Logo.png);
    background-size: 100% 100%; 
    background-color: white;
    padding: 10px;
    margin: 0;
}
.info{
    display: flex;
    gap: 50px;
    padding: 10px;
}
.img1{
    width: 100%;
    background-image: url(./Assets/img1.jfif);
    background-size: 100% 100%; 
    margin-top: 10px;
    height: 500px;
}
article{
    display: flex;
    padding: 20px;
}
article>div{
    width: 32%;
    height: 500px;
}
footer{
    background-color: #363a42;
    height: 200px;
}
.tb{
    background-color: rgb(240, 238, 238);
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    margin: 20px 0;
}